
.canvas {
  width: 100%;
  height: 100%;
}

.colmun{
  padding: 0;
}

p.subtitle{
  display: flex ;
  align-items: flex-end;
}

/* .logo-obvious{
  width: 100px;
  height: 25px;
} */

.image-box{
  margin-bottom: .4rem;
  width: 100%;
  height:100%;
}

.hide {
  display: none;
}

.columns.milan{
  align-items: baseline;
}

.view-content{
border: 1px solid black;
}

.box-container{
  position: relative;
}

.view-type{
  position :absolute;
  top: 2em;
  left: 2em;
  color:white;
}

.rotate-logo{
  height: 3em;
  width: 3em;
  fill: #FFF;
  color: #FFF;
}